name: Package Application with Pyinstaller

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  pyinstaller-build:
    runs-on: windows-latest
    steps:
      - name: Create Executable
        uses: sayyid5416/pyinstaller@v1
        with:
          python_ver: '3.9.13'
          spec: 'key_gen/main.spec'
          requirements: 'key_gen/requirements.txt'
          upload_exe_with_name: 'ntru_key_gen'
          options: --onefile
